
h1 {
    font-size: 50px;
    font-family: cursive ;
    text-decoration: underline;
}

.cool-buttons:hover {
    text-transform: capitalize;
    color: rgb(146, 132, 5) ;
}

.btn {
    padding: 10px 20px;
    margin: 0px 5px;
    width: 200px;
    border: none;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
    color: beige;
    transition: background-color 0.5s ease;
}

.primary {
    background-color: rgb(177, 78, 78);
    border-color: rgb(199, 88, 88);

}

.secondary {
    background-color: rgb(78, 101, 177);
    border-color: rgb(91, 118, 206);


}

.tertiary {
    background-color: rgb(95, 177, 78);
    border-color: rgb(100, 194, 82);


}

.btn:hover {
    background-color: coral;
    border-color: rgba(0, 0, 0, 0.205);
}


/* The Navigation Bar*/

nav {
    background-color: rgb(78, 101, 177);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 10px 20px;
}

.menu {
    list-style-type: none;
    display: flex;
}

.menu li {
    margin-right: 50px;
}

nav:hover {
    background-color:rgb(89, 115, 202) ;
}

.menu a {
    text-decoration: none;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: beige;
}


/*IMAGE GALLERY*/

.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 20px;
    max-width: 800px;
    margin: 10px auto;
    padding: 25px;
}

.image {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.image img{
    max-width: 300px;
    height: auto;
    transition: transform 0.3s ease;
}

.image:hover img{
    transform: scale(1.2,1.2);
    cursor: pointer;
}

/*PRICING TABLE*/

.pricing-table {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 20px;
    max-width: 800px;
    margin: 10px auto;
    padding: 25px;
}


.plan {
    text-align:center;
    width: 200px;
    background-color:rgb(100, 194, 82) ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 4px rgba(82, 158, 67,1) ;
    transition: transform 0.3s ease;
    margin: 10px;
}

.plan:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.plan h3{
    font-size: 24px;
    color:rgb(0, 0, 0)
}

.price{
    font-size: 30px;
    color: beige;
    margin: 10px 0px;
}

.plan ul{
    list-style-type: none;
    padding: 2px;
}

.plan ul li{
    margin:5px 0;
}

.plan button{
    background-color: rgb(211, 77, 77);
    color: beige;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.plan button:hover{
    background-color: rgb(182, 57, 57);
}
